<table mat-table [dataSource]="devices_list" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let device"> {{device.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Поз. </th>
        <td mat-cell *matCellDef="let device"> {{device.position}} </td>
    </ng-container>
    
    <ng-container matColumnDef="documentLink">
        <th mat-header-cell *matHeaderCellDef> Документ </th>
        <td mat-cell *matCellDef="let device"> {{device.documentLink}} </td>
    </ng-container>
    
    <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef> Сер. № </th>
        <td mat-cell *matCellDef="let device"> {{device.serialNo}} </td>
    </ng-container>
    
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Тип </th>
        <td mat-cell *matCellDef="let device"> {{device.type}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Model">
        <th mat-header-cell *matHeaderCellDef> Модель </th>
        <td mat-cell *matCellDef="let device"> {{device.Model}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Code">
        <th mat-header-cell *matHeaderCellDef> Код </th>
        <td mat-cell *matCellDef="let device"> {{device.Code}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Comment">
        <th mat-header-cell *matHeaderCellDef> Коментар </th>
        <td mat-cell *matCellDef="let device"> {{device.Comment}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Supplier">
        <th mat-header-cell *matHeaderCellDef> Постачальник </th>
        <td mat-cell *matCellDef="let device"> {{device.Supplier}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Link">
        <th mat-header-cell *matHeaderCellDef> Посилання </th>
        <td mat-cell *matCellDef="let device"> {{device.Link}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>